---
const { title, price, description, features } = Astro.props;
const hasPrice = price !== undefined && price !== null;
const paddingClass = hasPrice ? '' : 'mb-4';
---

<div
class="flex flex-col max-w-lg p-6 mx-auto text-center text-gray-900 bg-white border border-gray-100 rounded-lg shadow">
<h3 class="mb-4 text-2xl font-semibold">{title}</h3>
<p class={`font-light text-gray-500 ${paddingClass}`}>{description}</p>
{price && (
    <div class="flex items-baseline justify-center my-8">
        <span class="mr-2 text-5xl font-extrabold">{price}€</span>
        <span class="text-gray-500">/mes</span>
    </div>
)}

<ul role="list" class="mb-8 space-y-4 text-left">
    {features.map((feature) => (
        <li class="flex items-center space-x-3">

        <svg class="flex-shrink-0 w-5 h-5 text-green-500" fill="currentColor"
            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                clip-rule="evenodd"></path>
        </svg>
        <span>{feature}</span>
        </li>
    ))}
</ul>
<div class="mt-auto">
    <a href="https://api.whatsapp.com/send?phone=34657710761"
      class="text-gray-500 bg-yellow-300 hover:bg-yellow-200 focus:ring-4 focus:ring-purple-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Date de alta</a>
  </div>
</div>